.loader {
    width: 38px;
    height: 38px;
    margin: 0 auto;
    border: 5px solid var(--color-gray-light);
    border-right: 5px solid var(--color-black);
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    }
}